input{
    /* padding: 5px 30px; */
    border-radius: 10px;
    /* margin-right:10px; */
    /* margin:10px 10px; */
}
input.placeholder {
    text-align: center;
}

.checkbox{
    width:40px;
    height:40px;
    margin-right: 80px;
}